<!-- 機能紹介 -->
<section class="u-content-space u-area-feature">
	<div class="container">
		<header class="text-center w-md-50 mx-auto mb-8">
			<h2 class="h1 mb-3">メニュー</h2>
			<!--<p class="h5">コメント</p>-->
		</header>

		<!-- Row -->
			<div class="row">

				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="display-4 text-primary mb-2">
						<%= image_pack_tag "media/images/toppage/undraw_design_notes_8dmv.png", class: 'u-card-image' %>
					</div>
					<h4 class="h5 text-center">プロフィールサマリー機能</h4>
					<p>一枚で、自分のプロフィール画面を作成する機能です。PDFで作成する事が可能で、自己紹介スライドとして使う事が出来ます。</p>
					<div class="active text-center m-4">
          	<%= link_to 'はじめる', user_path(current_user), class: 'submitBtn' %>
         	</div>
				</div>

				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="display-4 text-primary mb-2">
						<%= image_pack_tag "media/images/toppage/undraw_detailed_analysis_xn7y.png", class: 'u-card-image' %>
					</div>
					<h4 class="h5 text-center">プロフィール詳細機能</h4>
					<p>より詳細に、自分の事を分析・表記する機能です。性格チャート、モチベーショングラフ、技術レベルなど、視覚的に表すことが出来ます。</p>
					<h4 class="h5 text-center">次回実装予定</h4>
					<div class="text-center m-4">
            <%= link_to 'はじめる', "#", class: 'submitBtn' %>
         	</div>
				</div>

				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="display-4 text-primary mb-2">
					  <%= image_pack_tag "media/images/toppage/undraw_Taking_notes_re_bnaf.png", class: 'u-card-image' %>
					</div>
					<h4 class="h5 text-center">自己分析機能</h4>
					<p>質問や、その解答を看板形式で纏めておく事が出来る機能です。自己分析や面接対策として使う事が出来ます。</p>
					<div class="active text-center m-4">
            <%= link_to 'はじめる', top_index_path, class: 'submitBtn' %>
         	</div>
				</div>
				
		　</div>
		<!-- End Row -->
	</div>
</section>